/* Icon Picker CSS */
.menu-icons-picker-wrapper {

	display: none;
	height: 200px;
    overflow: auto;
}

.menu-icons-picker-wrapper .menu-icons-picker-inner-wrapper {

	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu-icons-picker-wrapper .menu-icons-picker-inner-wrapper .menu-icon-picker-btn {

	height: 46px;
	width: 45px;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eeeeee;
}

.mega-menu-item-field {

    display: none;
}

li.menu-item-depth-0 span.mega-menu-group-title {

    display: inherit;
}

li.menu-item-depth-0 span.mega-menu-sub-group-title {

    display: none;
}

li.menu-item-depth-1 span.mega-menu-group-title {

    display: none;
}

li.menu-item-depth-1 span.mega-menu-sub-group-title {

     display: inherit;
}

li.menu-item-depth-0 .mega-menu-item-field,
li.menu-item-depth-1 .mega-menu-item-field {

    display: block;
}