/* Icon Picker CSS */
.menu-icons-picker-wrapper {

	display: none;
	height: 200px;
    overflow: auto;
}

.menu-icons-picker-wrapper .menu-icons-picker-inner-wrapper {

	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu-icons-picker-wrapper .menu-icons-picker-inner-wrapper .menu-icon-picker-btn {

	height: 46px;
	width: 45px;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eeeeee;
}